html {
  box-sizing: border-box;
}

body {
  margin: 10px ;
  padding-top: 80px;
 
  min-height: 100vh;
  display:block;
  justify-content: center;
  align-items: center;
  background: rgb(158, 168, 175);
  
}

.calculator {
  background: rgb(245, 236, 236);
  width: 350px;
  border-radius: 12px;
  box-shadow: 15px 15px 5px rgb(39, 35, 35);
  padding: 20px;
  
}


.calculator-display {
  background: black;
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 20px ;
  max-width: 100%;
}

.calculator-display h1 {
  margin: 0;
  padding: 25px;
  font-size: 45px;
  font-family: "Lucida Console", sans-serif;
  font-weight: 100;
  overflow-x: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.calculator-buttons {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
}

button {
  padding: 10px;
  font-size: xx-large;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background-color: #30535f;
  box-shadow: 10px 10px 5px rgb(63, 58, 58);
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  filter: brightness(130%);
}

button:active {
  transform: translateY(5px);
}

button:focus {
  outline: none;
}

.operator {
  background: rgb(35, 222, 247);
  color: rgb(1, 6, 27);
  font-size: 30px;
}

.clear {
  background: rgb(255, 40, 40);
  color: white;
}

.clear:hover {
  filter: brightness(90%);
}

.equal-sign {
  grid-column: -2;
  grid-row: 2 / span 4;
  background: rgb(13, 206, 87);
}


footer{
  margin: 20px;
  padding: 1rem;
  

  
}
footer a{
  text-decoration: none;
  cursor:pointer;
  color: darkslategrey;
  width: 100%;
  
}
footer a:hover {
  color: azure;
  background-color: rgb(231, 6, 6);
  text-transform: uppercase;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px rgb(63, 58, 58);
}


h2{
  display: flex;
  font-size: 35px;
  
}
h2 a{
  padding-left: 40px;
  margin-left: 40px;
  text-decoration: none;
  color: #fccbcb;
  
}
h2 a:hover{

}